body {
    background-color: white;
    font-family: 'Audiowide', cursive;
    font-family: 'Roboto', sans-serif;
}

.logoBox {
    display: flex;
    flex-wrap: nowrap;

}

.logoImage {
    flex-grow: 1;
    /* justify-content: center; */
}

.title {
    flex-grow: 4;
}

.blue-line {
    border-top: 1px solid #276875;
}

.fishTank {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em;
    flex: 3;
    /* border:1px solid black; */
}

.fishList {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.fishlist-card {
    background-color: white;
    box-shadow: 2px 2px 2px 2px #888888;
    margin: 1em;
    flex-basis: 25%;
    padding: 0 1em;

}

.card-image {

}

.fish-image {
    width: 100%;
    height:auto;
}

aside {
    /* background-color: white); */
    border:1px solid black;
    flex: 1;

}